<div class='shadow' id='contact'>
  <div class='container'>
    <h1>{{section.title | uppercase}}</h1>
    <h2 [hidden]="!formSubmit" [ngClass]="{'text-danger': errorMsg, 'text-success': !errorMsg}">{{submitMsg}}</h2>
    <form class='border bg-light shadow' [formGroup]="contactForm" (ngSubmit)="onSubmit(contactForm)">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" formControlName="name" name="name" placeholder="Your name" required>
      </div>
      <div class="form-group">
        <label for="email">Email Address</label>
        <input type="email" class="form-control" formControlName="email" name="_replyto" placeholder="Your email address" required>
      </div>
      <div class="form-group">
        <label for="phone">Phone</label>
        <input type="tel" class="form-control" formControlName="phone" name="phone" placeholder="Your phone number">
      </div>
      <div class="form-group">
        <label for="phone">Project Address</label>
        <textarea class="form-control" formControlName="address" name="address" rows='2' placeholder="Please list the full address of your roofing project." required></textarea>
      </div>
      <div class="form-group">
        <label for="phone">Message</label>
        <textarea class="form-control" formControlName="message" name="message" rows='10' placeholder="Please describe the work you are interested in receiving a quote on." required></textarea>
      </div>
      <div class="form-group">
        <ngx-recaptcha2 #captchaElem
          [siteKey]="siteKey"
          (reset)="handleReset()"
          (expire)="handleExpire()"
          (load)="handleLoad()"
          (success)="handleSuccess($event)"
          [useGlobalDomain]="false"
          formControlName="recaptcha">
        </ngx-recaptcha2>
      </div>
      <button type="submit" class="btn btn-primary" >Submit</button>
    </form>
</div>
