<nav class='navbar navbar-dark bg-dark'>
  <a class='navbar-brand' href='#top'><img class='logo' src='./assets/SunshineLogoLight.png'><span class='h1'>Sunshine Roofing Company</span></a>
  <button class='navbar-toggle' target='nav-collapse'></button>
    <div class='collapse navbar-collapse' id="nav-collapse" is-nav>
      <ul class='navbar-nav' class='links'>
        <li class='nav-item' *ngFor="let link of links"><a href="{{link.href}}">{{link.title}}</a></li>
      </ul>
      <ul class="ml-auto">
        <li class='text-left'>
          <a class='text-light' href="tel:4357222539">Uintah Basin: (435) 722-2539</a><br>
          <a class='text-light' href="tel:4358817820">Bear Lake: (435) 881-7820</a><br>
          <a class='text-light' href="mailto:sunroof@ubtanet.com">sunroof@ubtanet.com</a><br>
        </li>
      </ul>
    </div>
  </nav>
